input,
select {
  margin-bottom: 10px;
}

fieldset {
  margin-bottom: 20px;
}

p {
  display: inline;
}

fieldset > input:last-child,
select:last-child {
  margin-bottom: 3px;
}

fieldset:nth-child(2) > input:last-child {
  margin-bottom: 0;
}

input[type="color"] {
  margin-top: 3px;
}

label[for="what__car"] {
  position: relative;
  bottom: 10px;
}

label[for="recommend"],
select[name="recommend"] {
  position: relative;
  top: 10px;
  margin-bottom: 10px;
}
