label {
  display: block;
  margin-bottom: 10px;
}

label:last-child {
  margin-bottom: 0;
}

fieldset {
  margin-bottom: 20px;
}

p {
  margin-top: 0;
  margin-bottom: 8px;
  display: inline-block;
}

.radio__btn,
.radio__btn > label {
  display: inline-block;
  margin-bottom: 0;
}

select {
  display: inline;
}

fieldset > label:last-child {
  margin-bottom: 0;
}

input[type="color"] {
  margin-top: 3px;
}

label[for="what__car"] {
  display: inline-block;
}
